@import url(https://fonts.googleapis.com/css?family=Alegreya);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);

html {
  height: 100%;

  body {
    background: #fff;
    background: -moz-linear-gradient(top, #fafafa 1%, #fdfdfd 100%);
    background: -webkit-linear-gradient(top, #fafafa 1%, #fdfdfd 100%);
    background: linear-gradient(to bottom, #fafafa 1%, #fdfdfd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dfddd0', endColorstr='#c9c7bd',GradientType=0 );
    background-attachment: fixed;

    * {
      box-sizing: border-box;
    }
  }
}
