.item {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 16px;
    margin-bottom: 16px;
    margin-right: 16px;
    background-color: rgba(231, 231, 231, 0.6);
    box-shadow: 8px 8px 0 0px rgba(0, 0, 0, 0.25);
}

nav {
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    display: inline;
}

nav ul li a:hover {
    opacity: 0.7;
}

nav ul li a.item0 {
    border-left: 50px solid #c9182c;
    color: #c9182c;
}

nav ul li a.item1 {
    border-left: 50px solid #00a0d1;
    color: #00a0d1;
}

nav ul li a.item2 {
    border-left: 50px solid #365998;
    color: #365998;
}

nav ul li a.item3 {
    border-left: 50px solid #4183c4;
    color: #4183c4;
}

nav ul li a.item4 {
    border-left: 50px solid #db4a39;
    color: #db4a39;
}

nav ul li a.item5 {
    border-left: 50px solid #634d40;
    color: #634d40;
}

nav ul li a.item6 {
    border-left: 50px solid #34526f;
    color: #34526f;
}

nav ul li a.item7 {
    border-left: 50px solid #0088cc;
    color: #0088cc;
}

nav ul li a.item8 {
    border-left: 50px solid #0e76a8;
    color: #0e76a8;
}
