img {
  width: 700px;
  height: 350px;
}

.article-text {
  background-color: #ffffff;
  box-shadow: 0 0 5px #999999;
  margin: 0 auto;
  padding: 2rem 8% 100px;
  width: 100%;

  @media (min-width: 640px) {
    max-width: 840px;
    padding: 2rem 12% 100px;
  }

  @media (min-width: 1024px) {
    margin-top: 2rem;
    max-width: 920px;
    padding: 4rem 150px 100px;
  }

  @media (min-width: 1200px) {
    max-width: 1000px;
    padding: 6rem 200px 100px;
  }

  &-meta {
    border: 1px dotted #999999;
    border-left: none;
    border-right: none;
    color: #999999;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    padding: 0.25rem;

    @media (min-width: 640px) {
      flex-direction: row;
    }
  }

  h2,
  h3 {
    font-family: Alegreya, Times New Roman;
    line-height: 1.25;
  }

  h2 {
    color: #444444;
    font-size: 2.75rem;
    margin-bottom: 1.5rem;
  }

  h3 {
    color: #114466;
    display: flex;
    font-size: 1.675rem;
    margin: 2rem 0 1.25rem;

    @media (min-width: 640px) {
      font-size: 1.5rem;
    }

    &::before {
      background-color: #dd7700;
      content: '';
      display: inline-flex;
      margin: 0 8px -2px 0;
      width: 4px;
    }
  }

  p {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    hyphens: auto;
    line-height: 1.75;
    orphans: 3;
    overflow-wrap: break-word;
    text-align: justify;
    text-justify: inter-character;
    word-wrap: break-word;

    @media (min-width: 640px) {
      font-size: 1rem;
    }

    &.article-text-teaser {
      font-style: italic;
    }
  }

  &-side-information {
    background-color: #f3f3f3;
    border-left: 2px dotted #c0c0c0;
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 90%;
    padding: 0 1rem 1.25rem;

    @media (min-width: 640px) {
      clear: left;
      float: left;
      margin: 0.5rem 1.5rem 0.5rem -10%;
      max-width: auto;
      width: 200px;
    }

    @media (min-width: 1024px) {
      margin: 0.5rem 1.5rem 0.5rem -80px;
    }

    h4,
    p {
      line-height: 1.5;
      margin-bottom: 0;

      @media (min-width: 640px) {
        line-height: 1.375;
      }
    }

    h4 {
      font-size: 1.25rem;
      font-weight: 600;

      @media (min-width: 640px) {
        font-size: 1rem;
      }
    }

    p {
      font-family: 'Slabo 27px';
      hyphens: auto;
      overflow-wrap: break-word;
      text-align: left;
      word-wrap: break-word;
    }

    &.right {
      @media (min-width: 640px) {
        border-left: none;
        border-right: 2px dotted #c0c0c0;
        clear: right;
        float: right;
        margin: 0.5rem -10% 0.5rem 1.5rem;
      }

      @media (min-width: 1024px) {
        margin: 0.5rem -80px 0.5rem 1.5rem;
      }
    }
  }
}
